<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="NWConnectionString"
			 connectionString="Data Source=DESKTOP-0TAD2UR\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>